.navbar-nav li {
  margin-left: 10px;
}
.item-list {
  max-width: 400px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}
.editItemButton {
  margin: 20px;
  width: 80px;
}
#editItemFields {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  text-align: right;
}
#editItemFields input {
  width: 200px;
  margin-bottom: 10px;
}